
/* Fonts */
@font-face {
	font-family: 'Guardian Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Guardian Sans Regular'), url('fonts/GuardianSansRegular.woff') format('woff');
}
@font-face {
	font-family: 'Guardian Sans';
	font-style: italic;
	font-weight: normal;
	src: local('Guardian Sans Regular Italic'), url('fonts/GuardianSansRegularIt.woff') format('woff');
}
@font-face {
	font-family: 'Guardian Sans';
	font-style: normal;
	font-weight: bold;
	src: local('Guardian Sans Bold'), url('fonts/GuardianSansBold.woff') format('woff');
}
@font-face {
	font-family: 'Guardian Sans';
	font-style: italic;
	font-weight: bold;
	src: local('Guardian Sans Bold Italic'), url('fonts/GuardianSansBoldIt.woff') format('woff');
}
body {
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	margin: 4rem;
	color: #111;
	font-family: "Guardian Sans", sans-serif;
	background-color: #ffffff;
}
/* Sections */
.yellow-bg {
	background:#FFDD00;
	width: 50%;
	display: block;
	padding: 20px;
}
.nobg-label {
	width: 50%;
	display: block;
	padding: 20px;
}
.yellow-label {
	background: #FFDD00;
	width: 50%;
	display: block;
	padding: 20px;
}
.yellow-bg a {
	padding: 2px;
}
.black-bg {
	background:#000000;
	width: 50%;
	display: block;
	padding: 20px;
}
.black-bg a:link {
	padding: 2px;
	color: #ffffff;
}
.white-bg {
	background:#FFFFFF;
	width: 50%;
	display: block;
	padding: 20px;
}
/* Dividers */
hr.dashed {
	border-top: 2px dashed #838383;
	margin-top: 2em;
}
/* Links */
a {
	font-family: 'Guardian Sans';
}
.link,a {
	text-decoration: underline;
	color: #000 
}
a:hover {
	color: #006CD4;
	text-decoration: underline;
}
/* Text */
p {
	font-weight: normal;
}
/* Link one style */
#text-links a {
	font-weight: bold;
}
#link-one a:focus {
	text-decoration: underline;
	background: #003480;
	color: #ffffff;
	font-weight: bold;
	outline-style: solid;
}
#link-one a:hover,#link-one a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link two style */
#link-two a:focus {
	text-decoration: underline;
	background: #006CD4;
	color: #ffffff;
	outline-style: solid;
	outline-color: #003480;
	outline-width: 2px;
}
#link-two a:hover,#link-two a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link three style */
#link-three a:focus {
	text-decoration: underline;
	background: #003480;
	color: #ffffff;
	outline-style: solid;
	outline-color: #006CD4;
	outline-width: 2px;
}
#link-three a:hover,#link-three a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link four style */
#link-four a:focus {
	text-decoration: underline;
	background: #949494;
	color: #ffffff;
	outline-style: solid;
	outline-color: #006CD4;
	outline-width: 2px;
}
#link-four a:hover,#link-four a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link five style */
#link-five a:focus {
	text-decoration: underline;
	background: #003480;
	color: #ffffff;
	outline-color: #006CD4;
	outline-width: 2px;
	border-radius: 2px;
}
#link-five a:hover,#link-five a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link six style */
#link-six a:focus {
	text-decoration: underline;
	background: #949494;
	color: #ffffff;
	outline-style: solid;
	outline-color: #949494;
}
#link-six a:hover,#link-six a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #006CD4;
}
/* Link seven style */
#link-seven a:focus {
	text-decoration: underline;
	color: #006CD4;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #006CD4;
}
#link-seven a:hover,#link-seven a:active {
	text-decoration: underline;
	color: #006CD4;
}
/* Link eight style */
#link-eight a:focus {
	text-decoration: underline;
	color: #949494;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #949494;
}
#link-eight a:hover,#link-eight a:active {
	text-decoration: underline;
	color: #006CD4;
}
/* Link nine style */
#link-nine a:focus {
	text-decoration: underline;
	color: #006CD4;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #006CD4;
}
#link-nine a:hover,#link-nine a:active {
	text-decoration: underline;
	color: #006CD4;
}
/* Facebook link */
#fb-link a:focus {
	text-decoration: underline;
	color: #949494;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #949494;
}
#fb-link a:hover,#fb-link a:active {
	text-decoration: underline;
	color: #ffffff;
}
.icon:after {
	content: "";
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}
.icon--social:after {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	border-radius: 10rem;
	background-color: #fff ;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
a:hover .icon--social:after {
	background-color: #949494 
}
.icon--social-facebook:after {
	background-image: url(/icons/facebook.svg);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.link--light {
	color: #fff 
}
.link--light:hover {
	color: #949494 
}
.link--light:focus {
	background-color: #003480;
	color: #fff 
}
/*.justify-content-between {
	-webkit-box-pack: justify!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important 
}
*/
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.nowrap {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
/* Input fields */
.input--field-a {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
}
.input--field-a:focus {
	background-color: #fff;
	outline-color: #006CD4;
	border-color: #006CD4;
	outline-style: double;
	outline-width: 4px;
}
.input--field-a:hover {
	border-color: #006CD4;
}
.input--field-b {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
}
.input--field-b:hover {
	color: #003480;
}
.input--field-b:focus {
	outline-color: #003480;
	border-color: #006CD4;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-c {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
	border-radius: 2px;
}
.input--field-c:hover {
	color: #006CD4;
}
.input--field-c:focus {
	outline-color: #006CD4;
	border-color: #003480;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-d {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
	border-radius: 2px;
}
.input--field-d:hover {
	color: #006CD4;
}
.input--field-d:focus {
	outline-color: #006CD4;
	border-color: #949494;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-e {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
}
.input--field-e:hover {
	color: #003480;
}
.input--field-e:focus {
	outline-color: #949494;
	border-color: #58595B;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-f {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
}
.input--field-f:hover {
	color: #003480;
}
.input--field-f:focus {
	outline-color: #949494;
	border-color: #006CD4;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-g {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
}
.input--field-g:hover {
	color: #003480;
}
.input--field-g:focus {
	outline-color: #DDEBFE;
	border-color: #006CD4;
	outline-style: solid;
	outline-width: 4px;
}
[class^="icon"] {
	position: relative;
	background: url(/icons/info.svg) no-repeat;
}
.good [class^="icon"] {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	align-items: center;
}
.input--field-group {
	margin-bottom: 0.75em;
}
.input--label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.input--field-rounded {
	width: 256px;
	height: 2.5em;
	border: 2px solid #000000;
	border-radius: 30px;
	margin: 10px;
	padding-right: 10px;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	cursor: pointer;
}
.input--field-rounded:hover {
	color: #006CD4;
}
.input--field-rounded:focus {
	outline-color: #006CD4;
	border-color: #003480;
	outline-style: solid;
	outline-width: 4px;
}
.input--field-rounded::placeholder {
	font-weight: normal;
	font-family: 'Guardian Sans';
	color: #000;
	padding-left: 1rem;
}


  




/* Buttons */
.button {
	background-color:#006CD4;
	color: #fff;
	border-radius: 66px;
	border: none;
	height: 56px;
	width: 103px;
	padding: 0px;
	font-weight: 600;
	font-size: 18px;
	gap: 12px;
	text-align: center;
	display: inline-block;
	line-height: 28px;
	margin: 5px;
}
.button:hover {
	background-color: #003480;
}
.button:focus {
	background-color: #003480;
	border-color: #fff;
	border-width: 2px;
	outline-style: double;
	outline-width: 4px;
	outline-color: #003480;
}
.button-a {
	background-color: transparent;
	color: #006CD4;
	border-radius: 66px;
	border-style: solid;
	border-color: #006CD4;
	height: 56px;
	width: 103px;
	padding: 0px;
	font-weight: 600;
	font-size: 18px;
	gap: 12px;
	text-align: center;
	display: inline-block;
	line-height: 28px;
	margin: 5px;
}
.button-a:hover {
	background-color: transparent;
	color:#003480;
	border-color: #003480;
}
.button-a:focus {
	background-color: transparent;
	color: #003480;
	outline-color: #003480;
	border-color: #003480;
	border-width: 0px;
	outline-style: double;
	outline-width: 4px;
}
.button-b {
	background-color:#fff;
	color: #000000;
	border-radius: 66px;
	border: none;
	height: 56px;
	width: 103px;
	padding: 0px;
	font-weight: 600;
	font-size: 18px;
	gap: 12px;
	text-align: center;
	display: inline-block;
	line-height: 28px;
	margin: 5px;
}
.button-b:hover {
	background-color: #949494;
	color:#000000;
}
.button-b:focus {
	background-color: #949494;
	color: #000;
	outline-color: #949494;
	border-color: #949494;
	border-width: 0px;
	outline-style: double;
	outline-width: 4px;
}
.button-c {
	background-color: transparent;
	color: #fff;
	border-radius: 66px;
	border-style: solid;
	border-color: #fff;
	height: 56px;
	width: 103px;
	padding: 0px;
	font-weight: 600;
	font-size: 18px;
	gap: 12px;
	text-align: center;
	display: inline-block;
	line-height: 28px;
	margin: 5px;
}
.button-c:hover {
	background-color: transparent;
	color:#003480;
	border-color: #003480;
	border-style: solid;
	border-width: 2px;
}
.button-c:focus {
	background-color: transparent;
	color: #003480;
	outline-color: #003480;
	border-color: #003480;
	border-width: 0px;
	outline-style: double;
	outline-width: 4px;
}
/* Scroll to top button */
#scrollToTopBtn {
	background-color: #fff;
	border: none;
	border-radius: 50%;
	margin: 10px;
	color: #000;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
	width: 85px;
	height: 85px;
	justify-content: center;
}
.gg-arrow-up {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	justify-content: center;
}
.gg-arrow-up::after,.gg-arrow-up::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	top: 2px;
	justify-content: center;
}
.gg-arrow-up::after {
	width: 18px;
	height: 18px;
	border-top: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	left: 2px;
	justify-content: center;
}
.gg-arrow-up::before {
	width: 2px;
	height: 20px;
	left: 10px;
	background: currentColor;
	justify-content: center;
}
#scrollToTopBtn:hover, .gg-arrow-up:hover {
	background-color: #003480;
	color: #fff;
}
#scrollToTopBtn:focus, .gg-arrow-up:focus {
	background-color: #003480;
	color: #fff;
	outline-color: #d4d4d4;
	border-color: #003480;
	border-width: 2px;
	border-style: double;
	outline-style: solid;
	outline-width: 2px;
	box-shadow: 0 0 0 4px #003480;
}
.linkCards {
	margin: 1em 0;
	padding: 0;
	max-width: 437px;
	inline-size: 300px;
}
.linkCards:hover {
	color: #000;
	-webkit-box-shadow: 0 0 0 2px #000;
	box-shadow: 0 0 0 2px #000 
}
.linkCards h2 {
	font-weight: normal;
}
.linkCards p {
	font-size: 14px;
}
.linkCards li.yellow-card {
	list-style: none;
	margin: 1em 0;
	padding: 24px;
	background: #FD0;
	position: relative;
}
.linkCards li.yellow-card:focus {
	list-style: none;
	margin: 1em 0;
	padding: 24px;
	background: #FD0;
	position: relative;
	border: #000;
	outline-style: double;
}
.linkCards li.white-card {
	list-style: none;
	margin: 1em 0;
	padding: 24px;
	background: #FFF;
	position: relative;
}
.linkCards a:hover {
	color: #006CD4;
}
.linkCards li a.main::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ' ';
}
/* Checkboxes */
.checkbox-round {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 2px solid #000000;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.checkbox-round:hover {
	border-color: #006CD4;
}
.checkbox-round:focus {
	background-color: #fff;
	color: #006CD4;
	outline-color: #006CD4;
	border-color: #006CD4;
	border-width: 2px;
	border-style: double;
	outline-style: solid;
	outline-width: 2px;
}
.checkbox-round:checked {
	background-color: gray;
}
.checkbox-square {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 5%;
	vertical-align: middle;
	border: 2px solid #000000;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}
.checkbox-square:checked {
	background-color: gray;
}
.checkbox-square:focus {
	background-color: #fff;
	color: #006CD4;
	outline-color: #006CD4;
	border-color: #006CD4;
	border-width: 2px;
	border-style: double;
	outline-style: solid;
	outline-width: 2px;
}
.checkbox-square:hover {
	border-color: #006CD4;
}
/* Accordions */
details {
	list-style-type: none;
	cursor: pointer;
	font-weight: bolder;
	outline: 0;
	outline-color: #006CD4;
	border-radius: 0;
	&:hover {
		background-color: #006CD4;
		color: #fff;
		summary::before, summary::after {
			color: #000;
	   }
   }
	&[open] {
		background: #fff;
		color:#000;
   }
}
details > summary {
	list-style-type: none;
	cursor: pointer;
	font-weight: bolder;
}
details > summary::-webkit-details-marker {
	display: none;
}
details > summary::before {
	content: '+ ';
	color: #006CD4;
	font-weight: normal;
	font-size: 1.5rem;
	text-align: left;
	margin-left: 0.5rem;
}
details[open] > summary::before {
	content: '- ';
	color: #006CD4;
	font-weight: normal;
	margin-left: 0.5rem;
	font-size: 1.5rem;
	text-align: left;
	background: #fff;
}
details {
	border-top: 1px solid #000;
	padding-bottom: 0.5rem;
	background: #fff;
}
details:focus {
	outline: 2px solid #006CD4;
}
details > summary > p {
	text-align: left;
}
/* Tabs */
.tabs {
	font-weight: bolder;
	width: 530px;
}
[role="tablist"] {
	min-width: 100%;
}
[role="tab"], [role="tab"]:focus, [role="tab"]:hover {
	display: inline-block;
	position: relative;
	z-index: 2;
	top: 2px;
	margin: 0;
	margin-top: 4px;
	padding-right: 5px;
	border: 2px solid hsl(0, 0%, 0%);
	background: hsl(0, 0%, 0%);
	color: #fff;
	font-weight: bold;
	max-width: 22%;
	overflow: hidden;
	text-align: left;
	cursor: pointer;
}
[role="tab"][aria-selected="true"] {
	padding: 2px 2px 4px;
	margin-top: 0;
	border-width: 2px;
	border-bottom-color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 100%);
	color: #000;
}
[role="tab"][aria-selected="false"] {
	border-bottom: 1px solid hsl(219deg 1% 72%);
}
[role="tab"] span.focus {
	display: inline-block;
	margin: 2px;
	padding: 4px 6px;
}
[role="tab"]:hover span.focus, [role="tab"]:focus span.focus, [role="tab"]:active span.focus {
	padding: 2px 4px;
	border: 2px solid rgb(36 116 214);
	outline-color: #006CD4;
}
[role="tabpanel"] {
	padding: 5px;
	border: 2px solid hsl(0, 0%, 0%);
	background: hsl(0, 0%, 100%);
	min-height: 10em;
	width: 100%;
	overflow: auto;
}
[role="tabpanel"].is-hidden {
	display: none;
}
[role="tabpanel"] p {
	margin: 0;
	padding: 10px;
}
[role="tabpanel"] .input--field-group {
	margin: 0;
	padding: 10px;
}
/* Search button */
[role="button"] {
	display: inline-block;
	position: relative;
	padding: 0.4em 0.7em;
	border: 1px solid hsl(213deg 71% 49%);
	border-radius: 20px;
	color: #fff;
	text-shadow: 0 -1px 1px hsl(216deg 27% 25%);
	background-color: hsl(216deg 82% 51%);
	background-image: linear-gradient( to bottom, hsl(216deg 82% 53%), hsl(216deg 82% 47%) );
}
[role="button"]:hover {
	border-color: hsl(213deg 71% 29%);
	background-color: hsl(216deg 82% 31%);
	background-image: linear-gradient( to bottom, hsl(216deg 82% 33%), hsl(216deg 82% 27%) );
	cursor: default;
}
[role="button"]:focus {
	outline: none;
}
[role="button"]:focus::before {
	position: absolute;
   /* button border width - outline width - offset */
	top: calc(-1px - 3px - 3px);
	right: calc(-1px - 3px - 3px);
	bottom: calc(-1px - 3px - 3px);
	left: calc(-1px - 3px - 3px);
	border: 3px solid hsl(213deg 71% 49%);
   /* button border radius + outline width + offset */
	border-radius: calc(5px + 3px + 3px);
	content: "";
}
[role="button"]:active {
	border-color: hsl(213deg 71% 49%);
	background-color: hsl(216deg 82% 31%);
	background-image: linear-gradient( to bottom, hsl(216deg 82% 53%), hsl(216deg 82% 47%) );
	box-shadow: inset 0 3px 5px 1px hsl(216deg 82% 30%);
}
[role="button"][aria-pressed] {
	border-color: hsl(261deg 71% 49%);
	box-shadow: 0 1px 2px hsl(261deg 27% 55%);
	background-color: hsl(261deg 82% 51%);
	background-image: linear-gradient( to bottom, hsl(261deg 82% 53%), hsl(261deg 82% 47%) );
}
[role="button"][aria-pressed]:hover {
	border-color: hsl(261deg 71% 29%);
	background-color: hsl(261deg 82% 31%);
	background-image: linear-gradient( to bottom, hsl(261deg 82% 33%), hsl(261deg 82% 27%) );
}
[role="button"][aria-pressed="true"] {
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	border-color: hsl(261deg 71% 49%);
	background-color: hsl(261deg 82% 31%);
	background-image: linear-gradient( to bottom, hsl(261deg 82% 63%), hsl(261deg 82% 57%) );
	box-shadow: inset 0 3px 5px 1px hsl(261deg 82% 30%);
}
[role="button"][aria-pressed="true"]:hover {
	border-color: hsl(261deg 71% 49%);
	background-color: hsl(261deg 82% 31%);
	background-image: linear-gradient( to bottom, hsl(261deg 82% 43%), hsl(261deg 82% 37%) );
	box-shadow: inset 0 3px 5px 1px hsl(261deg 82% 20%);
}
[role="button"][aria-pressed]:focus::before {
	border-color: hsl(261deg 71% 49%);
}
[role="button"] svg {
	margin: 0.15em auto -0.15em;
	height: 1em;
	width: 1em;
	pointer-events: none;
}
/* Background color */
.full-width-white {
	position: relative;
   /* child absolute */

	background: #fff;
}
.full-width-yellow {
	position: relative;

	background: #FD0;
}
.h1,h1 {
	font-size:2.5rem;
	font-weight: normal;
}
.h2,h2{
   font-size:2rem;
   font-weight:normal;
}
.h3,h3{
   font-size:1.75rem;
   font-weight:normal;
}
.h4,h4{
   font-size:1.5rem;
   font-weight:normal;
}
.h5,h5{
   font-size:1.25rem
}
.h6,h6{
   font-size:1rem
}

.govuk-input{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    box-sizing:border-box;
    width:100%;
    height:40px;
    height:2.5rem;
    margin-top:0;
	text-align: center;
    padding:1px;
    border:2px solid #0b0c0c;
    border-radius:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.govuk-input::placeholder {
	font-size: 14px;
}
@media print{
    .govuk-input{
        font-family:sans-serif
    }
}
@media(min-width: 40.0625em){
    .govuk-input{
        font-size:19px;
        font-size:1.1875rem;
        line-height:1.3157894737
    }
}
@media print{
    .govuk-input{
        font-size:14pt;
        line-height:1.15
    }
}
.govuk-input:focus{
    outline:3px solid #fd0;
    outline-offset:0;
    box-shadow:inset 0 0 0 2px
}
.govuk-input:disabled{
    opacity:.5;
    color:inherit;
    background-color:rgba(0,0,0,0);
    cursor:not-allowed
}
.govuk-input::-webkit-outer-spin-button,.govuk-input::-webkit-inner-spin-button{
    margin:0;
    -webkit-appearance:none
}
.govuk-input[type=number]{
    -moz-appearance:textfield
}
.govuk-input--error{
    border-color:#d4351c
}
.govuk-input--error:focus{
    border-color:#0b0c0c
}
.govuk-input--extra-letter-spacing{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-feature-settings:"tnum" 1;
    font-feature-settings:"tnum" 1;
    font-weight:400;
    letter-spacing:.05em
}
@media print{
    .govuk-input--extra-letter-spacing{
        font-family:sans-serif
    }
}
@supports(font-variant-numeric: tabular-nums){
    .govuk-input--extra-letter-spacing{
        -webkit-font-feature-settings:normal;
        font-feature-settings:normal;
        font-variant-numeric:tabular-nums
    }
}
.govuk-input--width-4{
    max-width:3.5em
}
.govuk-input--width-3{
    max-width:34em
}
.govuk-input--width-2{
    max-width: 2.5em
}
.govuk-input__wrapper{
    display:flex
}
.govuk-input__wrapper .govuk-input{
    flex:0 1 auto
}
.govuk-input__wrapper .govuk-input:focus{
    z-index:1
}
@media(max-width: 19.99em){
    .govuk-input__wrapper{
        display:block
    }
    .govuk-input__wrapper .govuk-input{
        max-width:100%
    }
}
.govuk-input__prefix,.govuk-input__suffix{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    box-sizing:border-box;
    display:inline-block;
    min-width:40px;
    min-width:2.5rem;
    height:40px;
    height:2.5rem;
    padding:5px;
    border:2px solid #0b0c0c;
    background-color:#f3f2f1;
    text-align:center;
    white-space:nowrap;
    cursor:default;
    flex:0 0 auto
}
@media print{
    .govuk-input__prefix,.govuk-input__suffix{
        font-family:sans-serif
    }
}
@media(min-width: 40.0625em){
    .govuk-input__prefix,.govuk-input__suffix{
        font-size:19px;
        font-size:1.1875rem;
        line-height:1.3157894737
    }
}
@media print{
    .govuk-input__prefix,.govuk-input__suffix{
        font-size:14pt;
        line-height:1.15
    }
}
@media(max-width: 40.0525em){
    .govuk-input__prefix,.govuk-input__suffix{
        line-height:1.6
    }
}
@media(max-width: 19.99em){
    .govuk-input__prefix,.govuk-input__suffix{
        display:block;
        height:100%;
        white-space:normal
    }
}
@media(max-width: 19.99em){
    .govuk-input__prefix{
        border-bottom:0
    }
}
@media(min-width: 20em){
    .govuk-input__prefix{
        border-right:0
    }
}
@media(max-width: 19.99em){
    .govuk-input__suffix{
        border-top:0
    }
}
@media(min-width: 20em){
    .govuk-input__suffix{
        border-left:0
    }
}
.govuk-date-input{
    font-size:0
}
.govuk-date-input:after{
    content:"";
    display:block;
    clear:both
}
.govuk-date-input__item{
    display:inline-block;
    margin-right:20px;
    margin-bottom:0
}
.govuk-date-input__label{
    display:block
}
.govuk-date-input__input{
    margin-bottom:0
}
.govuk-form-group{
    margin-bottom:20px
}
.govuk-form-group:after{
    content:"";
    display:block;
    clear:both
}
@media(min-width: 40.0625em){
    .govuk-form-group{
        margin-bottom:30px
    }
}

/* Search bar */

form {
	width: 250px;
	height: 44px;
	border-radius: 35px;
	border-color: #000;
	outline-color: #000000;
	outline-width: 2px;
	display: flex;
	background-color: #dbdbdb;
	flex-direction:row;
	align-items:center;
	margin-bottom: 50px;
  }

form:hover {
	outline:3px solid #006CD4;
    outline-offset:0;
    box-shadow:inset 0 0 0 2px;
}

form:focus-visible {
	outline:3px solid #FD0;
    outline-offset:0;
    box-shadow:inset 0 0 0 2px;
	background: #000;
	color: #FFF;
}
  
  input[type="search"] {
	all: unset;
	font: 16px;
	height: 100%;
	width: 100%;
	padding: 6px 10px;
	margin: 10px;
	outline-width: 2px;
	outline-color: #000;
  }
  
  ::placeholder {
	color: #000000;
	font-family: 'Guardian Sans';
  }
  
  svg[type="search"] {
	color: #000000;
	fill: currentColor;
	width: 20px;
	height: 20px;
	padding: 10px;
  }
  
  button[type="searchy"] {
	all: unset;
	cursor: pointer;
	width: 44px;
	height: 44px;
		padding-right: 10px;

  }
